.header
  .header__content
    .main
      .main__logo
        = link_to root_path, class: "logo-text" do
          shop list
      .main__search
        .search--text
          キーワードから検索
        .search--btn
          = icon('fas', 'fas fa-search fa-lg', id: 'icon')
    .lists
      .list--left
        %ul
          %li カテゴリー
          %li エリア
      .list--right
        - if user_signed_in?
          = link_to "#", class: 'list--right__link' do
            =icon('far','heart')
            いいね！一覧
          = link_to "#", class: 'list--right__link' do
            =icon('far', 'bell')
            お知らせ
          = link_to mypage_users_path, method: :get, class: 'list--right__link' do
            =icon('far', 'user')
            マイページ
          
        - else
          = link_to "ログイン", root_path, class: 'list--right__link' 
          = link_to "新規会員登録", root_path, class: 'list--right__link' 
        